<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Volume Calculator</h2>
    <p>Enter the 3 dimensions to get the volume</p>
    <form form method="POST">
        <div>
            <input name="length"></input>
        </div>
        <div>
            <input name="width"></input>
        </div>
        <div>
            <input name="height"></input>
        </div>
        <span>{{volume}}</span>
        <button>Calculate</button>
    </form>
</body>
</html>